h1 {
    border: none;
}


div {
    border: solid 2px black;
    padding: 2%;
    max-width: 1300px;
}

div p {
    border: solid 2px black;
    padding: 17px;

}


.block p {
    display: block;

}

div+div {
    margin-top: 50px;
}

.inline {
    padding-bottom: 1%;
}

.inline p {
    display: inline;
}

.inline-block p {
    display: inline-block;
}