article {
    border: 2px solid black;

    max-width: 450px;
    margin: 0 auto;
}

.rules p {
    border-bottom: 1px dotted black;
}

.container p {
    border-bottom: 1px dotted black;
    margin: 1em;
}