div {
    border: 2px solid black;
    background-color: #eee;
    padding: 20px;
}

/* section {} */

div.container {
    border: 2px solid blue;
    display: flex;
    width: 400px;
    background-color: white;
    padding: 1em;
}