/* section {} */


div {
    border: 2px solid black;
    padding: 20px;
    max-width: 25%;
}

div.flex-conteiner {
    margin-top: 2em;
    display: flex;
    border: 2px solid blue;

}


.flex-item.nowrap {

    flex-wrap: nowrap;
    display: inline-flex;

}

.flex-item.wrap {

    flex-wrap: wrap;
    display: inline-flex;


}




.flex-item.wrap-reverse {
    flex-wrap: wrap-reverse;
    display: inline-flex;
}