.flex-item {
    border: 2px solid #000000;
    padding: 20px;
    background-color: #eee;
    display: inline-block;


}

.flex-conteiner {

    margin-top: 2em;
    display: flex;
    border: 2px solid blue;
    width: 400px;


}


.flex-conteiner.nowrap {

    flex-wrap: nowrap;

}

.flex-conteiner.wrap {

    flex-wrap: wrap;


}




.flex-conteiner.wrap-reverse {
    flex-wrap: wrap-reverse;
}