article {
    border: 1px solid black;
    border-style: border-box;
    width: 30%;
    margin: 200px;
    overflow: hidden;

}

.toDoList {
    border: 1px solid black;
}

p {


    line-height: 1.1;
}

h1 {
    text-align: center;
    margin: 0;
    padding-top: 0;
}