* {
    padding: 0;
    margin: 0;
}

html {
    font: 14px/1.5 "Lato", "sans-serif";
    box-sizing: border-box;
    border-style: inherit;
}

body {
    background-color: rgba(205, 200, 200, 0.658);
    padding: 2em;

}

main {
    background-color: white;
    border: 2px solid white;

}

h1 {
    color: green;
    padding: 1em;
}





nav>ul>li {
    border: 2px solid black;
    text-align: center;
    color: white;
    background-color: rgb(66, 64, 64);
    padding: 1em;
    list-style: none;
}


article {
    padding: 2em;

}


footer {
    background-color: rgb(66, 64, 64);
    color: white;
    padding: 1em;
    text-align: center;


}

p,
h3 {
    margin-top: 1em;

}

h3 {
    margin-top: 2em;
}

.h3-top {
    margin-top: 0;
}

@media (min-width: 1000px) {
    nav>ul {
        display: block;
    }

    nav>ul>li {
        border: 2px solid black;
        color: white;
        background-color: rgb(66, 64, 64);
        padding: 1em;
        list-style: none;
        display: inline;
    }
}