* {
    margin: 0;
    padding: 0;
}

html {
    font: 14px/1.5 "Lato", "Sans-serif", "Helvetica Neue", Helvetica;
    box-sizing: border-box;
}


.container {
    background-color: #24333C;
    width: 500px;
    display: flex;
    border: 2px solid #24333C;
    margin: 5em auto;
}

input[type="checkbox"] {
    display: none;
}

input {
    padding: 0.5em;
    /* margin: 0.5em auto; */
    flex: 1 0 auto;
}


.inputs {
    display: flex;
    flex-direction: column;

}