.container {
    background-color: #24333C;
    width: 800px;
    display: flex;
    border: 2px solid #24333C;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]#log {
    background-color: green;
}