div div {
    border: 2px solid #000;
}

.fixed {
    width: 300px;
}

.percentage {
    padding: 30px;

    width: 50%;
}

.viewport {
    padding: 30px;
    width: 50vw;
}

.minMax {
    max-width: 300px;
    min-width: 100px;
}