h1 {
    color: aqua;
}

p {
    font-size: 20px;
    color: aquamarine;
}

.highlighted {
    background-color: yellow;
}

#special {
    font-style: italic;
}

ul {
    background-color: rgba(137, 43, 226, 0.418);
}

div {
    background-color: rgba(165, 42, 42, 0.413);
}